<launch>
  <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="screen" >
    <param name="video_device" value="/dev/video0" />
    <param name="image_width" value="424" />
    <param name="image_height" value="240" />
    <param name="pixel_format" value="yuyv" />
    <param name="camera_frame_id" value="camera" />
    <param name="framerate" value="30"/>
    <param name="autoexposure" value="false"/> <!-- 1 for manua -->
    <param name="auto_white_balance" value="false"/>
    <param name="white_balance" value="2000"/>
    <param name="exposure" value="100"/> <!-- 3 to 2047 -->
    <param name="autofocus" value="false"/>
    <param name="focus" value="10"/>
  </node>
</launch>
