<launch>
  <arg name="gui" default="true"/>
  <arg name="model"/>
  <arg name="urdf_file" default="$(find xacro)/xacro --inorder '$(find pnu_tb3_launch)/urdf/turtlebot3_burger.urdf.xacro'" />

  <param name="robot_description" command="$(arg urdf_file)" />
  <arg name="rviz_file" value="$(find pnu_tb3_launch)/config/turtlebot3.rviz"/>

  <!-- Robot state publisher -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />

  <!--rviz  -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rviz_file)" required="true"/>

  <!--rviz  -->
  <node pkg="tf" type="static_transform_publisher" name="broadcaster1" args="0 0 0 0 0 0 /map /odom 100" />
</launch>
